* {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --Primary: #FFB30D;
    --Secondary: #085454;
    --Accent: #7A7A7A;
    --Background-light: #FFFFFF;
    --Text-light: #001542;
    --Background-dark: #001542;
    --Text-dark: #FFFFFF;
    --Border: 1px solid var(--Accent);
  }
  
  header {
    padding: 10px;
    border-bottom: 4px solid var(--Primary);
    background-color: var(--Secondary);
  }
  
  #logo {
    font-family: Lobster, Arial, sans-serif;
    font-size: 30px;
    color: var(--Primary);
  }
  
  .nav-list {  
    float: right;
    display: inline;
    list-style-type: none;
  }
  
  .nav-list li {
    margin: 15px;
    display: inline-block;
  }
  
  a {
    font-size: 20px;
    color: var(--Text-dark);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  a:hover {
    color: var(--Primary);
  }
  
  
  #banner {
    width: 50vw;
    height: 40vh;
    background-color:var(--Primary);
   text-align: center;
    color: var(--Text-dark);
    margin: 100px auto;
    border-radius: 90px;
    line-height: 100px;
    padding-top: 20px;
    font-size: xx-large;
    border: 5px solid var(--Secondary);
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 5vw;
    
    
  }
#products {
  text-align: center;
  padding-top: 30px;
  font-size: 1vw;
  color: var(--Secondary);
  
}


.Block{
background-color: var(--Primary);
    display: inline-block;
    margin: 40px;
    text-align: center;
    background-color: var(--Primary);
    border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  }

#showmore {
background-color: #001542;
  width: fit-content;
border-radius: 30px;  
padding: 15px;
font-size: 20px;
font-weight: 700;
color: var(--Primary);
margin: auto;
cursor: pointer;
text-shadow: 2px 2px 5px var(--Primary);
  
}
#about{
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--Secondary);
}
.row {
display: inline-block;
background-color: var(--Secondary);
text-align: left;
width: 30vw;
height: 20vh;
color: var(--Background-light);
padding: 10px;
margin-top: 30px;
border-radius: 40px;
border: 1px solid var(--Primary);
box-shadow:  6px 6px 12px 3px var(--Primary);
}


.h3 {
  color: var(--Primary);
  text-align: center;
  text-shadow:  2px 2px 9px var(--Primary);
  cursor: pointer;
  font-size: 30px;
  
}
footer {
  background-color: var(--Text-light);
  color: var(--Text-dark);
  padding: 30px;
  
}
span {
  display: inline-block;
  margin: 50px;



  
}
span li {
  list-style-type: none;
}

#back {
  color: red;
}

#back:hover {
color: #085454;
}
.fa-brands {
margin: auto;
}

#socials {
  font-size: 40px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;

}
